{% extends "users/panel/panel.html" %}

{% block title %}Prestamo{% endblock title %}

  {% block titulo_nav %}  Prestamo {% endblock titulo_nav %}

{% block contenido_panel %}
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita eum doloremque hic illum voluptatum adipisci sint! Voluptates sint distinctio dolor, nam eos incidunt velit voluptate esse molestiae eum, dolorem nemo?</p>
                </div>
            </div>
            <div class="col s12 m8">
                <div class="card">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita eum doloremque hic illum voluptatum adipisci sint! Voluptates sint distinctio dolor, nam eos incidunt velit voluptate esse molestiae eum, dolorem nemo?</p>
                </div>
            </div>
        </div>

    </div>
{% endblock contenido_panel %}
