{% extends "users/panel/panel.html" %}

{% load staticfiles %}

{% block title %}Prestamo{% endblock title %}

  {% block titulo_nav %}  Prestamo Libro {% endblock titulo_nav %}

{% block contenido_panel %}
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <div class="card border-side top-margin">
                    <div class="card-content center">
                        <figure>
                            {% if not lector.avatar %}
                                <img class="responsive-img circle" src="{% static 'img/usuario.png' %}" alt="img">
                            {% else %}
                                <img class="responsive-img circle" src="{{ lector.avatar.url }}" alt="img">
                            {% endif %}
                        </figure>
                        <div class="lector">
                            <div>
                                <span class="lector-name">{{ lector.apellidos|title }} {{ lector.nombres|title }}</span>
                            </div>
                            <div>
                                <span>{{ lector.carrera|title }}</span>
                            </div>
                            <div>
                                <span>{{ lector.codigo }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m8">
                <div class="card border-side top-margin">
                    <div class="card-content">
                        <div>
                            <span class="lector-name">Prestado a: {{ lector.apellidos|title }} {{ lector.nombres|title }}</span>
                        </div>
                        <hr>
                        <div class="row">
                            <form method="post" class="col s12">{% csrf_token %}
                            <div class="row">
                                <div class="input-field col s6">
                                  {{ form.codigo }}
                                  {{ form.codigo.label_tag }}
                                </div>
                                <div class="input-field col s4">
                                    <button class="btn orange lighten-1 waves-effect waves-light" type="submit" name="action">buscar
                                    </button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12">
                <div class="card border-side top-margin">
                    <div class="card-content">
                        <div>
                            <span class="lector-name">{{ cantidad }} - Prestamo(s)</span>
                        </div>
                        <hr>
                        <div class="row">
                            <table class="bordered striped">
                                <thead>
                                    <tr>
                                        <th>Fecha devolución</th>
                                        <th>Titulo</th>
                                        <th>Tipo</th>
                                        <th>Signatura</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for prestamo in prestamos %}
                                        <tr>
                                            <td>{{ prestamo.fecha_entrega }}</td>
                                            <td>{{ prestamo.ejemplar.material.titulo }}</td>
                                            <td>{{ prestamo.ejemplar.material.tipo_material }}</td>
                                            <td>{{ prestamo.ejemplar.signatura }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock contenido_panel %}
