<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <style >
        @page {
            size: {{ pagesize }};
            @frame header_frame{
                -pdf-frame-content: headerContent;
                /*left: 5pt;
                top: 20pt;
                height: 100pt;*/
                left: 2.5cm;
                top: 2cm;
                height: 100pt;
                }

            @frame content_frame {
                    left: 2.5cm; width: 400pt; top: 1.5cm; height: 700pt;
            }
        }
    </style>
</head>
<body>

<p style="font-size: 15px; font-family: Arial; text-align:center;">
    </br></br> .......................................................... </br>
    FIRMA
</p>
<strong style="font-size: 12px; font-family: Arial; text-align:center;">UNIVERSIDAD NACIONAL DE SAN ANTONIO ABAD DEL CUSCO</strong>
            <p>Lugar:                         {{ prestamo.bibliotecario.bibliotecario.biblioteca }}</p>
            <p>Bibliotecario:                 {{ prestamo.bibliotecario.get_full_name|title }}</p>
            <pre style="font-size: 12px; font-family: Arial; text-align:left;">
            <strong>DATOS USUARIO </strong>
            <strong> Usuario                           : </strong>{{ prestamo.lector }}
            <strong> Codigo                            : </strong>{{ prestamo.lector.codigo }}
            <strong> Carrera/Dependencia    : </strong>{{ prestamo.lector.carrera }}
            <strong> Fecha del Prestamo      : </strong>{{ prestamo.created }}
            </pre>



            <pre style="font-size: 12px; font-family: Arial; text-align:left;">
            <strong>DATOS BIBLIOGRAFICOS </strong>
            <strong> Titulo                               : </strong>{{ prestamo.ejemplar.material.titulo }}
            <strong> Autor                               : </strong>{% for autor in prestamo.ejemplar.material.autor.all %} {{ autor }} {% if not forloop.last %},{% else %}.{% endif %}{% endfor %}
            <strong> Codigo de libro               : </strong>{{ prestamo.ejemplar.signatura }}
            <strong> Codigo de barras            : </strong>{{ prestamo.ejemplar.codigo_barras }}
            <strong> Fecha de devolucion      : </strong>{{ prestamo.fecha_entrega }}
            </pre>



</body>
</html>
