{% load staticfiles %}

<nav class="red darken-4">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">biblioteca</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="mdi-navigation-menu"></i>
      </a>

      <ul class="right hide-on-med-and-down">

        <li><a href="#">Inicio</a></li>
        <li><a href="#">Misión & Visión</a></li>
        <li><a href="#">Contactenos</a></li>
        
        <li>
          <ul id="matricula-dropdown" class="dropdown-content">
            <li><a href="#">tesis</a></li>
            <li class="divider"></li>
            <li><a href="#">revistas</a></li>
            <li class="divider"></li>
            <li><a href="#">libros</a></li>
          </ul>
          <a class="dropdown-button valign-wrapper" data-activates="matricula-dropdown">publicaciones<i class="mdi-navigation-arrow-drop-down"></i></a>
        </li>

      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Misión & Visión</a></li>
        <li><a href="#">Contactenos</a></li>
        <li><a href="#">Iniciar Sesión</a></li>
      </ul>

    </div>    
  </div>
</nav>