{% extends "catalogacion/base_catalogacion.html" %}

{% load staticfiles %}

{% block title %}Bibloteca central y especializada unsaac{% endblock title %}

{% block content %}

    {% include "catalogacion/include/header.html" %}

    <div class="container">

        <div class="row">
            <div class="col s12">
                <div class="card border-side top-margin">
                    <div class="card-content">
                            <div>
                                <span class="lector-name">Se a encontrado {{ total }} resultado(s) en la búsqueda</span>
                            </div>
                        <hr>
                        {% for material in materiales.object_list %}
                            <article class="row detalle-item">
                                <div class="col s3">
                                {% if not material.portada %}
                                    <img  class="responsive-img" src="{% static 'img/img_libro.jpg' %}" alt="libro">
                                {% else %}
                                    <img src="{{ material.portada.url }}" alt="libro" class="responsive-img" >
                                {% endif %}
                                </div>
                                <div class="col s8">
                                    <dl class="dl-detalle">
                                        <dt>Titulo</dt>
                                        <dd>{{material.titulo}} {{material.titulo_secundario}}</dd>
                                        <dt>Autor</dt>
                                        <dd>{% for autor in material.autor.all %}
                                        <a href="{% url 'catalogacion_app:verreporte' autor.pk %}">{{ autor }} {% if not forloop.last %},{% else %}.{% endif %}</a>
                                        {% endfor %}
                                        </dd>
                                        {%if material.editorial != "" or material.anio != "" or material.edicion != "" %}
                                        <dt>Editor</dt>
                                        <dd>{{material.editorial}} {{material.anio}} 
                                        {% if  material.edicion %}
                                            {{material.edicion}} edición
                                        {% endif %}</dd>
                                        {% endif %}
                                        <dt>ISBN</dt>
                                        <dd>{{material.isbn}}</dd>

                                        <a href="{% url 'catalogacion_app:material' material.pk %}">Ver más... <i class="mdi-av-my-library-books"></i></a>
                                    </dl>
                                </div>
                            </article>
                        {% endfor %}

                        {% if total > 0 %}
                            {% load i18n %}
                            <ul class="pagination">
                                {% if materiales.has_previous %}
                                    <li class="waves-effect"><a href="?{{ materiales.previous_page_number.querystring}}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}" class="prev"><i class="mdi-av-skip-previous"></i></a></li>
                                {% endif %}
                                {% for page in materiales.pages %}
                                    {% if page %}
                                        {% ifequal page materiales.number %}
                                            <li class="active"><span class="current page">{{ page }}</span></li>
                                        {% else %}
                                             <li><a href="?{{ page.querystring }} {% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}" class="page">{{ page }}</a></li>
                                        {% endifequal %}
                                    {% else %}
                                        ...
                                    {% endif %}
                                {% endfor %}
                                {% if materiales.has_next %}
                                     <li class="waves-effect"><a href="?{{ materiales.next_page_number.querystring }} {% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}" class="next"><i class="mdi-av-skip-next"></i></a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                        
                        {% if errors %}
                            {{ errors}}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}
