{% extends "catalogacion/base_catalogacion.html" %}

{% load staticfiles %}

{% block title %}Bibloteca central y especializada unsaac{% endblock title %}

{% block content %}

    {% include "catalogacion/include/header.html" %}

    <div class="container">

        <div class="row">
            <div class="col s12">
                <div class="card border-side top-margin">
                    <div class="card-content">
                        {% if total > 0 %}
                            <div>
                                <span class="lector-name">Se a encontrado {{ total }} resultado(s) en la busqueda</span>
                            </div>
                        {% endif %}
                        <hr>
                        {% for material in materiales %}
                            <article class="row detalle-item">
                                <div class="col s3">
                                    <img src="{{ material.portada.url }}" alt="" class="responsive-img">
                                </div>
                                <div class="col s8">
                                    <dl class="dl-detalle">
                                        <dt>Titulo</dt>
                                        <dd>{{material.titulo}} {{material.titulo_secundario}}</dd>
                                        <dt>Autor</dt>
                                        <dd>{% for autor in material.autor.all %}
                                        <a href="{% url 'catalogacion_app:verreporte' autor.pk %}">{{ autor }} {% if not forloop.last %},{% else %}.{% endif %}</a>
                                        {% endfor %}
                                        </dd>
                                        <dt>Fecha de publicación</dt>
                                        <dd>{{material.created}}</dd>
                                        <dt>ISBN</dt>
                                        <dd>{{material.isbn}}</dd>
                                    </dl>
                                </div>
                            </article>
                        {% endfor %}
                        

                        {% if total > 0 %}
                            <ul class="pagination">
                                {% if materiales.has_previous %}
                                    <li class="waves-effect"><a href="?pagina={{ materiales.previous_page_number }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}"><i class="mdi-navigation-chevron-left"></i></a></li>
                                {% endif %}

                                <span class="current">Pagina {{ materiales.number }} de {{ materiales.paginator.num_pages }}</span>
                                {% if materiales.has_next %}
                                    <li class="waves-effect"><a href="?pagina={{ materiales.next_page_number }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}"><i class="mdi-navigation-chevron-right"></i></a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                        
                        {% if errors %}
                            {{ errors}}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- <section class="card">
        <div class="card-content">
            <span class="card-title">
                <h3>Los resulatado de la busqueda hay 5 concidencia(s)</h3>
            </span>
            <article>
            <div class="col s3">
                <div class="card-image">
                    <img src="{% static 'img/fotodon.jpg'%}" alt="">
                </div>
            </div>
            <div class="col s9">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, veniam facilis quas nihil, tenetur nostrum! Similique aliquam, ea, eveniet, totam placeat debitis, ut vitae tenetur quasi inventore esse ipsam atque.</p>
            </div>
        </article>
        </div>
    </section> -->



        

{% endblock content %}
