{% extends "catalogacion/base_catalogacion.html" %}

{% load staticfiles %}

{% block title %}Bibloteca central y especializada unsaac{% endblock title %}

{% block content %}

    {% include "catalogacion/include/header.html" %}
    
    <div class="row">
      <div class="card">
        <div class="col s12 m12 l12">
                <div class="card"> <!-- inicio del card panel -->
                <br>
                    <h2 class="flow-text center-align" style="color:#B71C1C"> <b>CONTÁCTENOS</b></h2>
                    <div class="row">
                      <div class="col s12 m12 l12">
                        <div class="card-content">
                          <span class="card-title" style="color:#B71C1C"> Correo electrónico:</span>
                          <div class="light" align="justify">
                                    biblioteca.central@unsaac.edu.pe
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--
                    <div class="row">
                      <div class="col s12 m12 l12">
                        <div class="card-content">
                          <span class="card-title" style="color:#B71C1C">Ubiquenos</span>
                             <div class="well">
                              <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3879.218165981039!2d-71.9608521!3d-13.5221988!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x916dd5fdf70d465d%3A0xcbddd8e36a2171d!2sUNSAAC+(Universidad+Nacional+de+San+Antonio+Abad+del+Cusco)!5e0!3m2!1ses-419!2spe!4v1471832896670">
                              </iframe>
                              </div>

                        </div>
                      </div>
                    </div>
                    -->
                  </div>
                  </div>
                  </div>
                  </div>


{% endblock content %}