{% extends "catalogacion/base_catalogacion.html" %}

{% load staticfiles %}

{% block title %}Bibloteca central y especializada unsaac{% endblock title %}

{% block content %}

    {% include "catalogacion/include/header.html" %}

        <h4>{{ object }}</h4>                
        <br>
        Codigo:{{ object.codigo}}
        <br>
        Correo Electronico:{{ object.email }}
        <br>
        Teléfono:{{ object.telefono }}
        <br>
        <br>
        <p>Más del autor</p>  
        {% for material in  materiales%}        
            <div class="media">
                <div class="media-left">
                    <a href="{% url 'catalogacion_app:publicacion' publicacion.categoria  publicacion.pk %}"><img class="media-object" src="{{ material.portada.url }}" alt="" height="100px" width="64px"></a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ material }}</h4>
                    <p>{{ publicacion.descripcion|linebreaksbr }}</p>
                </div>
            </div>
        {% endfor %}

{% endblock content %}