{% extends "catalogacion/base_catalogacion.html" %}

{% load staticfiles %}

{% block title %}Bibloteca central y especializada unsaac{% endblock title %}

{% block content %}

    {% include "catalogacion/include/header.html" %}
    {% include "catalogacion/include/slider.html" %}

    <section class="Releases">
        <div class="container">
            <h5 class="center-align light-blue-text text-accent-4 title-section">Publicaciones Recientes.</h5>
            <div class="row">
              {% for material in materiales %}
                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="{{ material.portada.url }}" >
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">{{ material.titulo|truncatewords:"2"|wordwrap:"1"}}<i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="{% url 'catalogacion_app:material' material.pk %}">Ver más...</a></p>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">{{ material.titulo|truncatewords_html:"2"}}<i class="mdi-navigation-close right"></i></span>
                             {% for autor in material.autor.all %}
                              <p>
                                {{ autor }}{% if not forloop.last %},{% else %}.{% endif %}
                              </p>
                             {% endfor %}

                        </div>
                    </div>
                </div>

              {% endfor %}
            </div>
        </div>
    </section>

{% endblock content %}