{% extends "catalogacion/base_catalogacion.html" %}

{% load staticfiles %}

{% block title %}Bibloteca central y especializada unsaac{% endblock title %}

{% block content %}

    {% include "catalogacion/include/header.html" %}
                <div class="material row">
                    <div class="col s12 m4 card-image waves-effect waves-block waves-light">
                        <a href="{%url 'catalogacion_app:ver_pdf' material.pk %}" >
                        <img class="imagen-mat" src="{{ material.portada.url }}" alt=""></a>
                    </div>
                    <div class="col s12 m8">
                        <p >
                            <b>TÍTULO: </b>{{ material.titulo}} {{material.titulo_secundario}}
                        </p>
                        {%if  material.titulo_secundario  = None%}
                        <p>
                            <b>TÍTULO SECUNDARIO:</b> {{ material.titulo_secundario}}
                        </p>
                        {% endif %}
                        <p>
                            <b>AUTORES:</b> {% for material in material.autor.all%}
                            {{ material.autor }} {% if not forloop.last %},{% else %}.{% endif %}
                            {% endfor %}
                        </p>
                        <p>
                            <b>Existencia:</b> {{ existencia }}
                        </p>
                        <table class="responsive-table bordered striped">
                            <tr>
                                <td><b>TIPO</b></td>
                                <td><b>UBICACIÓN</b></td>
                                <td><b>SIGNATURA TOPOGRÁFICA</b></td>
                                <td><b>ESTADO</b></td>
                                <td><b>NUMERO DE COPIA</b></td>
                                <td><b>FECHA DE VENCIMIENTO</b></td>
                                <td><b>VER PDF</b></td>
                            </tr> 
                            {% for ejemplar in  ejemplares %}
                            <tr>
                                <td>
                                    {{ material.tipo_material }}
                                </td>
                                <td>
                                {{ ejemplar.ubicacion}}
                                </td>
                                <td>
                                    {{ ejemplar.signatura }}
                                </td>
                                <td>
                                    {% if ejemplar.prestado %}
                                        Prestado
                                    {%else%}
                                        Disponible
                                    {% endif %}
                                </td>
                                <td>
                                    {{ ejemplar.numero_copia}}
                                </td>
                                <td>

                                </td>
                                <td>
                                    <a href="{%url 'catalogacion_app:ver_pdf' ejemplar.pk %}" > Leer PDF</a>
                                </td>
                            </tr>
                            {% endfor %}   
                        </table>
                    </div>
                    
                </div>

                <div>
                
                </div>


{% endblock content %}