{% extends "users/panel/base_panel.html" %}

{% block title %}panel{% endblock title %}

  {% block titulo_nav %} Panel de Administrador{% endblock titulo_nav %}

    {% block funciones %}
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            {% if user.is_superuser %}
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Administrador</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/admin">Ir al administrador</a></li>
                    </ul>
                </div>
            </li>
            {% endif %}

            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Circulación</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="{% url 'circulacion_app:lectorPrestamo' %}">Prestamo</a></li>
                        <li><a href="{% url 'circulacion_app:devolver' %}">Devolución</a></li>
                    </ul>
                </div>
            </li>

            {% if user.is_superuser %}
            <li class="bold"><a class="collapsible-header waves-effect waves-teal"> Realizar Consultas</a>
              <div class="collapsible-body">
                    <ul>
                        <li><a href="{%url 'catalogacion_app:RevisarRegistro' %}">Reporte</a></li>
                        <li><a href="{%url 'circulacion_app:reporteDeudores' %}">Deudores</a></li>
                    </ul>
              </div>
            </li>
            {% endif %}

        </ul>
    </li>
    {% endblock funciones %}
