{% extends "users/panel/panel.html" %}
{% load staticfiles %}

{% block title %}Reportes{% endblock title %}

  {% block titulo_nav %}  Reportes {% endblock titulo_nav %}

{% comment %}
	
{% extends "catalogacion/base_catalogacion.html" %}

{% load staticfiles %}

{% block title %}Bibloteca central y especializada unsaac{% endblock title %}

{% block content %}

    {% include "catalogacion/include/header.html" %}
{% endcomment %}


{% block contenido_panel %}


	<form action="" method="GET">{% csrf_token %}

	    <label>Categoria:</label>
        {{form2.categoria}}
        <br>
        <label>Descripcion:</label>
		{{ form2.descripcion|escape }}
		<label>Fecha inicio:</label>
		{{form2.Mostrar_desde}}
		<label>Fecha final:</label>
		{{form2.Mostrar_hasta}}
		<input type="submit" value="Consultar" />
	</form>

{% endblock contenido_panel %}