/*@media screen and (min-width: 480px)*/
@media only screen and (max-width: 600px){
	.material{
		margin: 1% 3%;
		padding: 10px 5px;
		border: 1px solid #DDD;
		background-color: #f0f0f0;
		border-radius: 10px;
	}

	.imagen-mat{
		width: 100%;
	}

	.material-text{
		width: 45%;
	}

	.webdesigntuts-workshop
    {
		height: 100%;
		position: absolute;
		text-align: center;
		width: 100%;
		margin-top: 0.2%;
	}
	.webdesigntuts-workshop:before,
	.webdesigntuts-workshop:after {
		content: '';
		display: block;
		height: 1px;
		left: 50%;
		margin: 0 0 0 -400px;
		position: absolute;
		width: 75%;
	}
	.webdesigntuts-workshop:before {
		background: transparent;
		top: 192px;
	}
	.webdesigntuts-workshop:after {
		background: transparent;
		top: 191px;
	}

	.webdesigntuts-workshop form {
		background: #fff;
		border: 1px solid #bdbdbd;
		border-radius: 5px;
		display: inline-block;
		font-size: 0px;
		margin: 150px auto 0;
		padding: 20px;
		position: relative;
		z-index: 1;
	}

	.webdesigntuts-workshop input {
		background: #fff;
		border: 1px solid #DDD;
		border-radius: 5px 0 0 5px;
		color: #bdbdbd;
		display: block;
		float: left;
		font-family: 'Cabin', helvetica, arial, sans-serif;
		font-size: 13px;
		font-weight: 400;
		height: 40px;
		margin: 0;
		padding: 0 10px;
		text-shadow: 0 -1px 0 #000;
		width: 75%;
	}

	.ie .webdesigntuts-workshop input {
		line-height: 40px;
	}

	.webdesigntuts-workshop input:focus {
		-webkit-animation: glow 800ms ease-out infinite alternate;
		-moz-animation: glow 800ms ease-out infinite alternate;
		-o-animation: glow 800ms ease-out infinite alternate;
		-ms-animation: glow 800ms ease-out infinite alternate;
		animation: glow 800ms ease-out infinite alternate;
		background: #fff;
		border-color: #bdbdbd;
		color: #efe;
		outline: none;
	}

	.webdesigntuts-workshop input:focus::-webkit-input-placeholder {
		color: #efe;
	}

	.webdesigntuts-workshop input:focus:-moz-placeholder {
		color: #efe;
	}

	.webdesigntuts-workshop button {
		background: #F0F0F0;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		-o-box-sizing: content-box;
		-ms-box-sizing: content-box;
		box-sizing: content-box;
		border: 1px solid #DDD;
		border-left-color: #DDD;
		border-radius: 0 5px 5px 0;
		color: #424242;
		display: block;
		float: left;
		font-family: 'Cabin', helvetica, arial, sans-serif;
		font-size: 13px;
		font-weight: 400;
		height: 40px;
		line-height: 40px;
		margin: 0;
		padding: 0;
		position: relative;
		text-shadow: 0 -1px 0 #000;
		width: 15%;
	}

	.webdesigntuts-workshop button:hover,
	.webdesigntuts-workshop button:focus {
		background: #E3E3E3;
		color: #000;
		outline: none;
	}

	.webdesigntuts-workshop button:active {
		background: #9e9e9e;
		top: 1px;
	}
}
@media only screen and (min-width: 600px) and (max-width: 990px) {
	.tabla{
		border: 1px solid black;
	}

	.material{
		margin: 1% 3%;
		padding: 10px 5px;
		border: 1px solid #DDD;
		background-color: #f0f0f0;
		border-radius: 10px;
	}

	.imagen-mat{
		width: 100%;
	}

	.material-text{
		width: 45%;
	}

    .webdesigntuts-workshop
    {
		height: 100%;
		position: absolute;
		text-align: center;
		width: 100%;
		margin-top: 3%;
	}
	.webdesigntuts-workshop:before,
	.webdesigntuts-workshop:after {
		content: '';
		display: block;
		height: 1px;
		left: 50%;
		margin: 0 0 0 -400px;
		position: absolute;
		width: 75%;
	}

	.webdesigntuts-workshop:before {
		background: transparent;
		top: 192px;
	}

	.webdesigntuts-workshop:after {
		background: transparent;
		top: 191px;
	}

	.webdesigntuts-workshop form {
		background: #fff;
		border: 1px solid #bdbdbd;
		border-radius: 5px;
		display: inline-block;
		font-size: 0px;
		margin: 150px auto 0;
		padding: 20px;
		position: relative;
		z-index: 1;
	}

	.webdesigntuts-workshop input {
		background: #fff;
		border: 1px solid #DDD;
		border-radius: 5px 0 0 5px;
		color: #bdbdbd;
		display: block;
		float: left;
		font-family: 'Cabin', helvetica, arial, sans-serif;
		font-size: 13px;
		font-weight: 400;
		height: 40px;
		margin: 0;
		padding: 0 10px;
		text-shadow: 0 -1px 0 #000;
		width: 75%;
	}

	.ie .webdesigntuts-workshop input {
		line-height: 40px;
	}

	.webdesigntuts-workshop input:focus {
		-webkit-animation: glow 800ms ease-out infinite alternate;
		-moz-animation: glow 800ms ease-out infinite alternate;
		-o-animation: glow 800ms ease-out infinite alternate;
		-ms-animation: glow 800ms ease-out infinite alternate;
		animation: glow 800ms ease-out infinite alternate;
		background: #fff;
		border-color: #bdbdbd;
		color: #efe;
		outline: none;
	}

	.webdesigntuts-workshop input:focus::-webkit-input-placeholder {
		color: #efe;
	}

	.webdesigntuts-workshop input:focus:-moz-placeholder {
		color: #efe;
	}

	.webdesigntuts-workshop button {
		background: #F0F0F0;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		-o-box-sizing: content-box;
		-ms-box-sizing: content-box;
		box-sizing: content-box;
		border: 1px solid #DDD;
		border-left-color: #DDD;
		border-radius: 0 5px 5px 0;
		color: #424242;
		display: block;
		float: left;
		font-family: 'Cabin', helvetica, arial, sans-serif;
		font-size: 13px;
		font-weight: 400;
		height: 40px;
		line-height: 40px;
		margin: 0;
		padding: 0;
		position: relative;
		text-shadow: 0 -1px 0 #000;
		width: 15%;
	}

	.webdesigntuts-workshop button:hover,
	.webdesigntuts-workshop button:focus {
		background: #E3E3E3;
		color: #000;
		outline: none;
	}

	.webdesigntuts-workshop button:active {
		background: #9e9e9e;
		top: 1px;
	}
}

@media only screen and (min-width: 990px){
	.material{
		margin: 1% 3%;
		padding: 10px 5px;
		border: 1px solid #DDD;
		background-color: #f0f0f0;
		border-radius: 10px;
	}

	.imagen-mat{
		width: 100%;
	}

	.material-text{
		width: 45%;
	}

	.webdesigntuts-workshop {
	height: 100%;
	position: absolute;
	text-align: center;
	width: 100%;
	margin-top: 2.3%;
	}

	.webdesigntuts-workshop:before,
	.webdesigntuts-workshop:after {
		content: '';
		display: block;
		height: 1px;
		left: 50%;
		margin: 0 0 0 -400px;
		position: absolute;
		width: 75%;
	}

	.webdesigntuts-workshop:before {
		background: transparent;
		top: 192px;
	}

	.webdesigntuts-workshop:after {
		background: transparent;
		top: 191px;
	}

	.webdesigntuts-workshop form {
		background: #fff;
		border: 1px solid #bdbdbd;
		border-radius: 5px;
		display: inline-block;
		font-size: 0px;
		margin: 150px auto 0;
		padding: 20px;
		position: relative;
		z-index: 1;
	}

	.webdesigntuts-workshop input {
		background: #fff;
		border: 1px solid #DDD;
		border-radius: 5px 0 0 5px;
		color: #bdbdbd;
		display: block;
		float: left;
		font-family: 'Cabin', helvetica, arial, sans-serif;
		font-size: 13px;
		font-weight: 400;
		height: 40px;
		margin: 0;
		padding: 0 10px;
		text-shadow: 0 -1px 0 #000;
		width: 75%;
	}

	.ie .webdesigntuts-workshop input {
		line-height: 40px;
	}

	.webdesigntuts-workshop input:focus {
		-webkit-animation: glow 800ms ease-out infinite alternate;
		-moz-animation: glow 800ms ease-out infinite alternate;
		-o-animation: glow 800ms ease-out infinite alternate;
		-ms-animation: glow 800ms ease-out infinite alternate;
		animation: glow 800ms ease-out infinite alternate;
		background: #fff;
		border-color: #bdbdbd;
		color: #efe;
		outline: none;
	}

	.webdesigntuts-workshop input:focus::-webkit-input-placeholder {
		color: #efe;
	}

	.webdesigntuts-workshop input:focus:-moz-placeholder {
		color: #efe;
	}

	.webdesigntuts-workshop button {
		background: #F0F0F0;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		-o-box-sizing: content-box;
		-ms-box-sizing: content-box;
		box-sizing: content-box;
		border: 1px solid #DDD;
		border-left-color: #DDD;
		border-radius: 0 5px 5px 0;
		color: #424242;
		display: block;
		float: left;
		font-family: 'Cabin', helvetica, arial, sans-serif;
		font-size: 13px;
		font-weight: 400;
		height: 40px;
		line-height: 40px;
		margin: 0;
		padding: 0;
		position: relative;
		text-shadow: 0 -1px 0 #000;
		width: 15%;
	}

	.webdesigntuts-workshop button:hover,
	.webdesigntuts-workshop button:focus {
		background: #E3E3E3;
		color: #000;
		outline: none;
	}

	.webdesigntuts-workshop button:active {
		background: #9e9e9e;
		top: 1px;
	}
}
